<form [formGroup]="form">
    <label class="group-label pt-2">Calculate Equivalent Fuel Heat</label>
    <div class="form-group">
        <label for="electricallyHeatedEfficiency2">Electrically Heated Equipment Efficiency</label>
        <div class="input-group">
            <input name="electricallyHeatedEfficiency2" formControlName="electricallyHeatedEfficiency" type="number"
                step="any" class="form-control" id="electricallyHeatedEfficiency2" (input)="save()"
                onfocus="this.select();" (focus)="focusField('electricallyHeatedEfficiencyFuel')">
            <span class="input-group-addon units">%</span>
        </div>
        <span class="alert-danger pull-right small"
            *ngIf="form.controls.electricallyHeatedEfficiency.invalid && !form.controls.electricallyHeatedEfficiency.pristine">
            <span *ngIf="form.controls.electricallyHeatedEfficiency.errors.required">Value required.</span>
            <span *ngIf="form.controls.electricallyHeatedEfficiency.errors.min">Value cannot not be lower than
                {{form.controls.electricallyHeatedEfficiency.errors.min.min}}.</span>
            <span *ngIf="form.controls.electricallyHeatedEfficiency.errors.max">Value cannot not be greater than
                {{form.controls.electricallyHeatedEfficiency.errors.max.max}}.</span>
        </span>
    </div>
    <div class="form-group">
        <label for="fuelFiredEfficiency2">Fuel-Fired Equipment Efficiency</label>
        <div class="input-group">
            <input name="fuelFiredEfficiency2" formControlName="fuelFiredEfficiency" type="number" step="any"
                class="form-control" id="fuelFiredEfficiency2" (input)="save()" onfocus="this.select();"
                (focus)="focusField('fuelFiredEfficiencyFuel')">
            <span class="input-group-addon units">%</span>
        </div>
        <span class="alert-danger pull-right small"
            *ngIf="form.controls.fuelFiredEfficiency.invalid && !form.controls.fuelFiredEfficiency.pristine">
            <span *ngIf="form.controls.fuelFiredEfficiency.errors.required">Value required.</span>
            <span *ngIf="form.controls.fuelFiredEfficiency.errors.min">Value cannot not be lower than
                {{form.controls.fuelFiredEfficiency.errors.min.min}}.</span>
            <span *ngIf="form.controls.fuelFiredEfficiency.errors.max">Value cannot not be greater than
                {{form.controls.fuelFiredEfficiency.errors.max.max}}.</span>
        </span>
    </div>
    <div class="form-group">
        <label for="electricalHeatInput3">Heat Input for Electrically Heated Equipment</label>
        <div class="input-group">
            <input name="electricalHeatInput3" formControlName="electricalHeatInput" type="number" step="any"
                class="form-control" id="electricalHeatInput3" (input)="save()" onfocus="this.select();"
                (focus)="focusField('electricalHeatInput')">
            <span class="input-group-addon units">kW</span>
        </div>
        <span class="alert-danger pull-right small"
            *ngIf="form.controls.electricalHeatInput.invalid && !form.controls.electricalHeatInput.pristine">
            <span *ngIf="form.controls.electricalHeatInput.errors.required">Value required.</span>
            <span *ngIf="form.controls.electricalHeatInput.errors.min">Value cannot not be lower than
                {{form.controls.electricalHeatInput.errors.min.min}}.</span>
        </span>
    </div>
    <div class="form-group">
        <label class="strong">Equivalent Fuel-Fired Heat Input</label>
        <div *ngIf="fuelFiredHeatInput" class="small text-center">
            <strong>{{fuelFiredHeatInput | number:'2.2-2'}} MMBtu/hr</strong>
            <!-- <span *ngIf="settings.unitsOfMeasure == 'Imperial'">
          <strong> MMBtu/hr</strong>
        </span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'">
          <strong> GJ/hr</strong>
        </span> -->
        </div>
        <div *ngIf="!fuelFiredHeatInput" class="small text-center">
            <strong>&mdash; &mdash;</strong>
        </div>
    </div>
</form>