/* .results-box {
    border: solid;
    border-radius: 10px;
    border-color: #BF3D00
}

.btn-group {
    display: block;
    text-align: center;
}

.btn-group .btn-sm {
    font-size: small !important;
}

.btn-margin-10 {
    margin: 10px 0px;
}

.btn-form {
    border-radius: 4px !important;
} */




.modification {
    background: #fff;
    -webkit-box-shadow: 0px 0px 69px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 69px -1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 69px -1px rgba(0,0,0,0.2);
    z-index: 2;
  }

  .scroll-item{
      max-height: 100% impo !important;
      overflow-y: auto;
  }