<form [formGroup]="form" class="pl-3 pr-3">
    <label class="group-label">Potential Electrical Equipment</label>
    <div class="form-group">
        <label for="electricityCost">Electricity Cost</label>
        <div class="input-group">
            <input name="electricityCost" type="number" step=".1" class="form-control" id="electricityCost"
                (input)="save()" formControlName="electricityCost" onfocus="this.select();"
                (focus)="focusField('electricityCost')">
            <span class="input-group-addon units small">$/KWh</span>
        </div>
    </div>

    <div class="form-group">
        <label for="electricalEquipmentEfficiency">Electrically Heated Equipment Efficiency</label>
        <div class="input-group">
            <input name="equipmentEfficiency" type="number" step=".1" class="form-control"
                id="electricalEquipmentEfficiency" (input)="save()" formControlName="equipmentEfficiency"
                onfocus="this.select();" (focus)="focusField('electricalEquipmentEfficiency')">
            <span class="input-group-addon units small">%</span>
        </div>
    </div>

    <div class="d-flex w-100">
        <label class="w-50">
            Equivalent Electrical Heat Input
        </label>
        <label class="w-50 text-center">
            {{electricalHeatInput | number:"0.0-2"}} kW
        </label>
    </div>

    <div class="form-group">
        <label for="eGridRegion">eGrid Region</label>
        <div class="input-group">
            <select name="eGridRegion" class="form-control" id="eGridRegion" formControlName="eGridRegion"
                (change)="setRegion()" (focus)="focusField('eGridRegion')">
                <option *ngFor="let option of eGridRegions" [ngValue]="option.region">{{option.region}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="eGridSubregion">eGrid Subregion</label>
        <div class="input-group">
            <select name="eGridSubregion" class="form-control" id="fuelType" formControlName="eGridSubregion"
                (change)="setSubRegion()" (focus)="focusField('eGridSubregion')">
                <option *ngFor="let option of subregions" [ngValue]="option.subregion">{{option.subregion}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="emissionsOutputRate">Total Emission Output Rate</label>
        <div class="input-group">
            <input name="emissionsOutputRate" type="number" step="1" class="form-control" id="emissionsOutputRate"
                (input)="save()" formControlName="emissionsOutputRate" onfocus="this.select();"
                (focus)="focusField('emissionsOutputRate')">
            <span class="input-group-addon units small">kg CO<sub>2</sub>/MMBtu </span>
        </div>
    </div>
</form>

<div class="d-flex w-100 pl-3 pr-3">
    <label class="w-50">
        Potential CO<sub>2</sub> Emissions
    </label>
    <label class="w-50 text-center">
        {{electricalCostAndEmissions.emissions | number:"0.0-2"}} tonne CO<sub>2</sub>/yr
    </label>
</div>
<div class="d-flex w-100 pl-3 pr-3">
    <label class="w-50">
        Potential Electricity Costs
    </label>
    <label class="w-50 text-center">
        {{electricalCostAndEmissions.cost | currency: 'USD': 'symbol':'0.0-0'}} /yr
    </label>
</div>