<form [formGroup]="form" class="pl-3 pr-3">
    <label class="group-label">Potential Electrical Equipment</label>
    <div class="form-group">
        <label for="electricityCost">Electricity Cost</label>
        <div class="input-group">
            <input name="electricityCost" type="number" step=".001" class="form-control" id="electricityCost"
                (input)="save()" formControlName="electricityCost" onfocus="this.select();"
                (focus)="focusField('electricityCost')">
            <span class="input-group-addon units small">$/kWh</span>
        </div>
    </div>

    <div class="form-group">
        <label for="electricalEquipmentEfficiency">Electrically Heated Equipment Efficiency</label>
        <div class="input-group">
            <input name="equipmentEfficiency" type="number" step=".25" class="form-control"
                id="electricalEquipmentEfficiency" (input)="save()" formControlName="equipmentEfficiency"
                onfocus="this.select();" (focus)="focusField('electricalEquipmentEfficiency')">
            <span class="input-group-addon units small">%</span>
        </div>
    </div>

    <div class="d-flex w-100">
        <label class="w-50">
            Estimated Electric Peak Demand
        </label>
        <label class="w-50 text-center">
            {{electricalHeatInput | number:"0.0-2"}} kW
        </label>
    </div>

    <div class="form-group">
        <label for="eGridRegion">eGrid Region</label>
        <div class="input-group">
            <select name="eGridRegion" class="form-control" id="eGridRegion" formControlName="eGridRegion"
                (change)="setRegion()" (focus)="focusField('eGridRegion')">
                <option *ngFor="let option of eGridRegions" [ngValue]="option.region">{{option.region}}</option>
            </select>
        </div>
    </div>

    <div *ngIf="form.controls.eGridRegion.value != 'Other'" class="form-group">
        <label for="eGridSubregion">eGrid Subregion</label>
        <div class="input-group">
            <select name="eGridSubregion" class="form-control" id="fuelType" formControlName="eGridSubregion"
                (change)="setSubRegion()" (focus)="focusField('eGridSubregion')">
                <option *ngFor="let option of subregions" [ngValue]="option.subregion">{{option.subregion}}</option>
            </select>
        </div>
    </div>

    <div *ngIf="form.controls.eGridRegion.value != 'Other'" class="d-flex w-100">
        <label class="w-50">
            Carbon Emissions
        </label>
        <label class="w-50 text-center">
            {{form.controls.carbonEmissions.value | number:"0.0-2"}} kg CO<sub>2</sub>/MWh
        </label>
    </div>
    <div *ngIf="form.controls.eGridRegion.value == 'Other'" class="form-group">
        <label for="carbonEmissions">Carbon Emissions</label>
        <div class="input-group">
            <input name="carbonEmissions" type="number" step=".1" class="form-control" id="carbonEmissions"
                (input)="save()" formControlName="carbonEmissions" onfocus="this.select();"
                (focus)="focusField('emissionsOutputRateElectric')">
            <span class="input-group-addon units small">kg CO<sub>2</sub>/MWh</span>
        </div>
    </div>

    <div *ngIf="form.controls.eGridRegion.value != 'Other'" class="d-flex w-100">
        <label class="w-50">
            Methane Emissions
        </label>
        <label class="w-50 text-center">
            {{form.controls.methaneEmissions.value | number:"0.0-2"}} g CH<sub>4</sub>/MWh
        </label>
    </div>
    <div *ngIf="form.controls.eGridRegion.value == 'Other'" class="form-group">
        <label for="methaneEmissions">Methane Emissions</label>
        <div class="input-group">
            <input name="methaneEmissions" type="number" step=".1" class="form-control" id="methaneEmissions"
                (input)="save()" formControlName="methaneEmissions" onfocus="this.select();"
                (focus)="focusField('emissionsOutputRateElectric')">
            <span class="input-group-addon units small">g CH<sub>4</sub>/MWh</span>
        </div>
    </div>

    <div *ngIf="form.controls.eGridRegion.value != 'Other'" class="d-flex w-100">
        <label class="w-50">
            Nitrous Emissions
        </label>
        <label class="w-50 text-center">
            {{form.controls.nitrousEmissions.value | number:"0.0-2"}} g N<sub>2</sub>O/MWh
        </label>
    </div>
    <div *ngIf="form.controls.eGridRegion.value == 'Other'" class="form-group">
        <label for="nitrousEmissions">Carbon Emissions</label>
        <div class="input-group">
            <input name="nitrousEmissions" type="number" step=".1" class="form-control" id="nitrousEmissions"
                (input)="save()" formControlName="nitrousEmissions" onfocus="this.select();"
                (focus)="focusField('emissionsOutputRateElectric')">
            <span class="input-group-addon units small">g N<sub>2</sub>O/MWh</span>
        </div>
    </div>


</form>

<div class="d-flex w-100 pl-3 pr-3">
    <label class="w-50">
        Potential CO<sub>2</sub> Emissions
    </label>
    <label class="w-50 text-center">
        {{electricalCostAndEmissions.emissions | number:"0.0-2"}} tonne CO<sub>2</sub>/yr
    </label>
</div>
<div class="d-flex w-100 pl-3 pr-3">
    <label class="w-50">
        Potential Electricity Costs
    </label>
    <label class="w-50 text-center">
        {{electricalCostAndEmissions.cost | currency: 'USD': 'symbol':'0.0-0'}} /yr
    </label>
</div>