<form [formGroup]="form" class="p-3">

    <div class="form-group">
        <label for="fuelCost">Fuel Cost</label>
        <div class="input-group">
            <input name="electricityCost" type="number" step=".1" class="form-control" id="electricityCost" (input)="save()"
                formControlName="electricityCost" onfocus="this.select();">
            <span class="input-group-addon units small">$/KWh</span>
        </div>
    </div>

    <div class="form-group">
        <label for="electricalEquipmentEfficiency">Electrically Heated Equipment Efficiency</label>
        <div class="input-group">
            <input name="equipmentEfficiency" type="number" step=".1" class="form-control" id="electricalEquipmentEfficiency"
                (input)="save()" formControlName="equipmentEfficiency" onfocus="this.select();">
            <span class="input-group-addon units small">%</span>
        </div>
    </div>

    <!--Equivalen Electrical Heat Input-->

    <div class="form-group">
        <label for="eGridRegion">eGrid Region</label>
        <div class="input-group">
            <select name="eGridRegion" class="form-control" id="eGridRegion" formControlName="eGridRegion"
                (change)="setRegion()">
                <option *ngFor="let option of eGridRegions" [ngValue]="option.region">{{option.region}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="eGridSubregion">eGrid Subregion</label>
        <div class="input-group">
            <select name="eGridSubregion" class="form-control" id="fuelType" formControlName="eGridSubregion" (change)="setSubRegion()">
                <option *ngFor="let option of subregions" [ngValue]="option.subregion">{{option.subregion}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="emissionsOutputRate">Total Emission Output Rate</label>
        <div class="input-group">
            <input name="emissionsOutputRate" type="number" step="1" class="form-control" id="emissionsOutputRate"
                (input)="save()" formControlName="emissionsOutputRate" onfocus="this.select();">
            <span class="input-group-addon units small">kg CO<sub>2</sub>/MMBtu </span>
        </div>
    </div>
</form>