.container-fluid{
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.modification {
    background: #fff;
    -webkit-box-shadow: 0px 0px 69px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 69px -1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 69px -1px rgba(0,0,0,0.2);
    z-index: 2;
  }

  .scroll-item{
      max-height: 100% !important;
      overflow-y: auto;
  }

  .tabs.primary a {
    padding-left: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1.25rem;
    border-left: #c8c8c8 solid 1px;
    display: block;
    color: #0F0F0F;
    background-color: #c8c8c8;
    /* text-transform: uppercase; */

  }

  .tabs.primary .active a {
    border: none;
    border-bottom: #BF3D00 solid 3px;
    background: white;
  }

  .tabs.primary a:hover{
      cursor: pointer;
      background-color: #fff;
  }

  .click-link:hover {
      text-decoration: underline;
      cursor: pointer;
  }

  .group-label {
      width: inherit;
  }