<div class="container-fluid d-flex flex-column">
  <div class="p-0">
    <app-banner></app-banner>
  </div>
  <div class="p-0 flex-grow-1">
    <div class="row no-gutters h-100">
      <div class="col-6 modification scroll-item pt-2">
        <app-operating-hours></app-operating-hours>
        <div class="pl-2 pr-2">
          <hr>
        </div>
        <app-current-equipment-form></app-current-equipment-form>
        <div class="pl-2 pr-2">
          <hr>
        </div>
        <app-electrical-equipment-form></app-electrical-equipment-form>
      </div>
      <div class="col-6">
        <div class="d-flex flex-column">
          <div class="d-flex flex-wrap tabs primary mr-2 ml-2 sticky-top">
            <div class="w-50 panel-tab-item" [ngClass]="{'active': tabSelect == 'results'}" (click)="setTab('results')">
              <a>Results</a>
            </div>
            <div class="w-50 panel-tab-item" [ngClass]="{'active': tabSelect == 'help'}" (click)="setTab('help')">
              <a>Help</a>
            </div>
          </div>
          <div class="mr-2 ml-2 p-2">
            <app-results *ngIf="tabSelect == 'results'"></app-results>
            <app-help *ngIf="tabSelect == 'help'"></app-help>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>