<form [formGroup]="form" class="pl-3 pr-3">
    <label class="group-label">Current Fuel Based Equipment</label>
    <!-- <div class="form-section">
        <div class="form-group">
            <label for="energyType">Energy Type</label>
            <div class="input-group">
                <select name="energyType" class="form-control" id="energyType" formControlName="energyType"
                    (change)="changeEnergyType()">
                    <option [ngValue]="'fuel'">Fuel</option>
                    <option [ngValue]="'electricity'">Electricity</option>
                </select>
            </div>
        </div>
    </div> -->

    <div class="form-group">
        <label for="energySource">Energy Source</label>
        <div class="input-group">
            <select name="energySource" class="form-control" id="energySource" formControlName="energySource"
                (change)="setFuelOptions()" (focus)="focusField('energySource')">
                <option *ngFor="let option of otherFuels" [ngValue]="option.energySource">{{option.energySource}}
                </option>
            </select>
        </div>
    </div>

    <div class="form-group" *ngIf="fuelOptions.length > 1">
        <label for="fuelType">Fuel Type</label>
        <div class="input-group">
            <select name="fuelType" class="form-control" id="fuelType" formControlName="fuelType" (change)="setFuel()"
                (focus)="focusField('fuelType')">
                <option *ngFor="let option of fuelOptions" [ngValue]="option.fuelType">{{option.fuelType}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="fuelCost">Fuel Cost</label>
        <div class="input-group">
            <input name="fuelCost" type="number" step=".1" class="form-control" id="fuelCost" (input)="save()"
                formControlName="fuelCost" onfocus="this.select();" (focus)="focusField('fuelCost')">
            <span class="input-group-addon units small">$/MMBtu</span>
        </div>
    </div>
    <div class="form-group">
        <label for="equipmentEfficiency">Fuel-Fire Equipment Efficiency</label>
        <div class="input-group">
            <input name="equipmentEfficiency" type="number" step=".1" class="form-control" id="equipmentEfficiency"
                (input)="save()" formControlName="equipmentEfficiency" onfocus="this.select();"
                (focus)="focusField('equipmentEfficiencyFuel')">
            <span class="input-group-addon units small">%</span>
        </div>
    </div>
    <div class="form-group">
        <label for="heatInput">Heat Input for Fuel-Fire Equipment</label>
        <div class="input-group">
            <input name="heatInput" type="number" step=".1" class="form-control" id="heatInput" (input)="save()"
                formControlName="heatInput" onfocus="this.select();" (focus)="focusField('heatInput')">
            <span class="input-group-addon units small">MMBtu/hr</span>
        </div>
    </div>

    <div *ngIf="form.controls.energySource.value != 'Other fuels'" class="d-flex w-100">
        <label class="w-50">
            Carbon Emissions
        </label>
        <label class="w-50 text-center">
            {{form.controls.carbonEmissions.value | number:"0.0-2"}} kg CO<sub>2</sub>/MMBtu
        </label>
    </div>
    <div *ngIf="form.controls.energySource.value == 'Other fuels'" class="form-group">
        <label for="carbonEmissions">Carbon Emissions</label>
        <div class="input-group">
            <input name="carbonEmissions" type="number" step=".1" class="form-control" id="carbonEmissions"
                (input)="save()" formControlName="carbonEmissions" onfocus="this.select();"
                (focus)="focusField('emissionsOutputRateFuel')">
            <span class="input-group-addon units small">kg CO<sub>2</sub>/MMBtu</span>
        </div>
    </div>

    <div *ngIf="form.controls.energySource.value != 'Other fuels'" class="d-flex w-100">
        <label class="w-50">
            Methane Emissions
        </label>
        <label class="w-50 text-center">
            {{form.controls.methaneEmissions.value | number:"0.0-2"}} g CH<sub>4</sub>/MMBtu
        </label>
    </div>
    <div *ngIf="form.controls.energySource.value == 'Other fuels'" class="form-group">
        <label for="methaneEmissions">Methane Emissions</label>
        <div class="input-group">
            <input name="methaneEmissions" type="number" step=".1" class="form-control" id="methaneEmissions"
                (input)="save()" formControlName="methaneEmissions" onfocus="this.select();"
                (focus)="focusField('emissionsOutputRateFuel')">
            <span class="input-group-addon units small">g CH<sub>4</sub>/MMBtu</span>
        </div>
    </div>


    <div *ngIf="form.controls.energySource.value != 'Other fuels'" class="d-flex w-100">
        <label class="w-50">
            Nitrous Oxide Emissions
        </label>
        <label class="w-50 text-center">
            {{form.controls.nitrousEmissions.value | number:"0.0-2"}} g NO<sub>2</sub>/MMBtu
        </label>
    </div>
    <div *ngIf="form.controls.energySource.value == 'Other fuels'" class="form-group">
        <label for="nitrousEmissions">Current Nitrous Oxide Emission Rate</label>
        <div class="input-group">
            <input name="nitrousEmissions" type="number" step=".1" class="form-control" id="nitrousEmissions"
                (input)="save()" formControlName="nitrousEmissions" onfocus="this.select();"
                (focus)="focusField('emissionsOutputRateFuel')">
            <span class="input-group-addon units small">g NO<sub>2</sub>/MMBtu</span>
        </div>
    </div>

</form>

<div class="d-flex w-100 pl-3 pr-3">
    <label class="w-50">
        Current CO<sub>2</sub> Emissions
    </label>
    <label class="w-50 text-center">
        {{fuelCostAndEmissions.emissions | number:"0.0-2"}} tonne CO<sub>2</sub>/yr
    </label>
</div>
<div class="d-flex w-100 pl-3 pr-3">
    <label class="w-50">
        Current Fuel Costs
    </label>
    <label class="w-50 text-center">
        {{fuelCostAndEmissions.cost | currency: 'USD': 'symbol':'0.0-0'}} /yr
    </label>
</div>